
.character-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: -10px;
}
.character-list .character-portrait {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12.5%;
    padding: 10px;
}
.character-list .character-portrait.new {
    order: -1;
}
.character-list .character-portrait.new:before {
    content: "new";
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: #ffb300;
    border-radius: 4px;
    padding: 1px 6px 0;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 11px;
}
.character-list .character-portrait.soon {
    order: -2;
}
.character-list .character-portrait.soon:before {
    content: "soon";
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: #42a5f5;
    border-radius: 4px;
    padding: 1px 6px 0;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 11px;
}
.character-list .character-portrait:hover .character-icon {
    box-shadow: 0 14px 28px rgba(182, 182, 182, 0.25), 0 10px 10px rgba(172, 172, 172, 0.22);
}
.character-list .character-portrait:hover .character-name {
    color: #fff;
}
.character-list .character-portrait .character-icon {
    width: 70px;
    height: 70px;
    background: #36384a;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23), 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 0.3s;
}
.character-list .character-portrait .character-type {
    position: absolute;
    top: 5px;
    right: 15px;
    width: 24px;
    height: 24px;
    background: #36384a;
    border-radius: 100px;
    padding: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23), 0 3px 6px rgba(0, 0, 0, 0.16);
}
.character-list .character-portrait .character-name {
    width: 100%;
    color: #000000;
    font-size: 14px;
    text-align: center;
    margin: 10px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.3s;
}
@media (max-width: 991.98px) {
    .character-list .character-portrait {
        width: 16.66%;
    }
}
@media (max-width: 767.98px) {
    .character-list .character-portrait {
        width: 25%;
    }
}
@media (max-width: 575.98px) {
    .character-list .character-portrait {
        width: 25%;
    }
    .character-list .character-portrait .character-type {
        right: 5px;
    }
    .character-list .character-portrait .character-constellation {
        right: 9px;
    }
}

.avatar-icon{
    width: 50px;
    height: 50px;
    /* background: #36384a; */
    border-radius: 4px;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23), 0 3px 6px rgba(0, 0, 0, 0.16); */
    /* transition: box-shadow 0.3s; */
}